<h1>drawing</h1>

<p>hello from drawings/index.html.erb</p>
<p>list of drawings to go here</p>

<% for drawing in @drawings %>
  picture: <%= drawing.picture %>
  photo_id: <%= drawing.photo_id%>
<% end %>