<h1>new drawing</h1>

<button  id="submit-drawing" class="hidden" >Submit Drawing</button>

<main>
  <section class="drawing">
    <canvas id="new-drawing" ></canvas>

    <div class="drawing-controls">
      Pen Thickness: <input type="range" id="lineWidth" min="1" max="30"
      value ="2" title="Line Width">

      <canvas id="pen-example" width="80" height="30"></canvas>
    </div>
    <div class="colour">
      Pen Colour:
        <label for="lineColor">select a colour</label>
        <input type="color" name="lineColor"  id="lineColor">
    </div>
    <div class="reset-drawing">
      <button id="reset" name="button">Clear Drawing</button>
    </div>
  </section>

  <div class="ref-photo photo-container">
    <%= image_tag @photo.picture.large.url , id:"ref-photo", data:{id:@photo.id}%>
    <div id="ref-dot"></div>
  </div>
</main>


<%= javascript_pack_tag 'drawing' %>
