<h1>new drawing</h1>

<button  id="submit-drawing" >Submit Drawing</button>
<canvas id="new-drawing" ></canvas>

<%= image_tag @photo.picture.large.url , id:"ref-photo", data:{id:@photo.id}%>
<br>


<%= javascript_pack_tag 'drawing' %>
