<h1>new drawing</h1>


<canvas id="new-drawing" ></canvas>

<%= image_tag @photo.picture.large.url , id:"ref-photo", data:{id:@photo.id}%>

<button  id="submit-drawing" >Submit Drawing</button>

<%= javascript_pack_tag 'drawing' %>
