<section id="admin">
  <% @photos.each do |photo| %>
      <% if photo.picture? && photo.flagged_innapropriate %>
      <% if photo != @photos.first %>
        <hr/>
      <% end %>
        <article class="photo-drawings-group">
        <div class="photo-container">
          <%= link_to photo_path(photo) do %>

            <%= image_tag photo.picture.large.url %>
          <%end%>
        </div>


          <% if photo.drawings.length != 0 %>
            <ul class="sticky-drawings">
            <% for drawing in photo.drawings.reverse().take(5) %>
                <li>
                    <%= image_tag drawing.picture.large.url %>
                </li>
            <% end %>
            </ul>

          <% end %>
          
        </article>
      <%end%>
  <%end%>
</section>

<p id="back-to-top">
  <a href="#title-top">back to top 🏝</a>
</p>
