<main class="about">
  <h1 class="page-title">About</h1>

  <p>Take photos + draw photos taken by other people!</p>

  <p>All photos are public. Any indecent images can be reported + will be removed.</p>

  <p>
  Made in summer 2020 by 
      <a href="https://github.com/kingdomlevel">Niall Morris</a> 
      and 
      <a href="https://github.com/johnpooley">John Pooley</a>.
  </p>

</main>
