<h1>Photos</h1>

<section>
  <% @photos.each do |photo| %>
    <%= link_to photo_path(photo) do %>
      <% if photo.picture? && !photo.flagged_innapropriate %>
        <%= image_tag photo.picture.thumb.url %>
        <%end%>
      <%end%>
  <%end%>
</section>

<p>
<%= link_to "New Photo", new_photo_path%>
</p>
