
<%= image_tag @photo.picture.large.url %>

<h2>drawings:</h2>
<ul>
<% for drawing in @photo.drawings %>
    <li>
        picture: <%= drawing.picture %>
        photo_id: <%= drawing.photo_id%>
    </li>
<% end %>
</ul>

<%= link_to "Draw me", "/photos/#{@photo.id}/drawings/new"%>
