<div class="unloved top-text">
  <p>No one  has  drawn  these  photos  yet! </p>

  <p>Click  on  one  to  be  the  first</p>
</div>

<div id="unloved-container">

  <% @photos.each do |photo| %>
    <% if photo.picture? && !photo.flagged_innapropriate && photo.drawings.length == 0 %>

      <div class="photo-container">
        <%= link_to image_tag(photo.picture.thumb.url), %`/photos/#{photo.id}/drawings/new`%>
      </div>



    <% end %>

  <% end %>

</div>

<%= javascript_pack_tag 'unloved' %>
