html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}




// base styles:
body {
  font-family: Arial, Helvetica, sans-serif;
  
  height: 100vh;
  background: linear-gradient(180deg, #f6aad0 20vh, #f2ffdf 120vh);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  display: flex;
  width: 100%;
  border-bottom: solid 2px black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

  position: sticky;
  top: 0px;
  z-index: 5;
  background-color: #f6aad0;
}

header.fixed {
  position: fixed;
  top: 0px;
}

h1 {
  color: blue;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8em;
  letter-spacing: 0.3em;
  margin: 0.4em 0 0.4em 0;
  text-align: center;
}

h1 span {
  position: relative;
  display: inline-block;
  min-width: 30px;
  transition: all 2s ease;
}

h1 span:nth-child(2n),
.navBar a:hover span:nth-child(2n),
section#camera #controls button:hover span:nth-child(2n),
.get-started:hover span:nth-child(2n) {
  color: yellow;
}

h1 span:nth-child(3n),
.navBar a:hover span:nth-child(3n),
section#camera #controls button:hover span:nth-child(3n),
.get-started:hover span:nth-child(3n) {
  color: red;
}

h1.page-title {
  margin-top: 30px;
}

.navBar {
  font-size: 1.2em;
  padding: 12px;
}

.navBar a {
  margin: 0 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: solid 2px rgba(255, 255, 255, 0);
  border-radius: 4px;
  padding: 3px;
  transition: all 0.5s ease;
}

.navBar a:hover {
  color: blue;
  text-decoration: underline;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage form.new_photo {
  display: flex;
  justify-content: center;
}

main.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.about p {
  margin: 30px 0;
}

section#intro-text {
  font-size: 1.4em;
  text-align: center;
  max-width: 60vw;
  flex-wrap: nowrap;
  color: white;
  margin-top: 100px;
}

section#intro-text button {
  padding: 10px 18px;
}

section#intro-text p span,
section#intro-text button span {
  position: relative;
  line-height: 3;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 0.2em;
  min-width: 1em;
}

section#intro-text button span {
  font-size: 1.6em;
  line-height: 1.6;
}

p.get-started {
    width: fit-content;
    margin: auto;
    padding: 0px 18px;
    color: black;
}