// Place all the styles related to the drawings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#ref-photo{
  width: 280px;
  // position: absolute;
  // right: 30px;
  float: right;
  margin: 30px;
  outline: black 4px solid;
}
#new-drawing{
  // position: absolute;
  // left: 30px;
  float: left;
  outline: black 4px solid;
  margin: 30px;

}
