@media (max-width: 720px) {
    h1 {
        width: 100%;
        display: block;
        font-size: 1.4em;
        margin-bottom: 0;
    }

    h1 span {
        min-width: 2px;
    }

    header .navBar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav.navBar {
        padding: 5px;
        line-height: 0.5;
    }

    video#selfie-cam {
        width: 84vw;
        margin-top: 5vh;
    }

    section#intro-text {
        margin-top: 10px;
        max-width: 88vw;
        font-size: 14pt;
    }

    button.get-started {
        font-size: 9pt;
    }

    section#intro-text button {
        padding: 0px 10px;
        width: 260px;
    }

    section#intro-text p span {
        min-width: 0.2em;
    }

    section#intro-text p span.letter, section#intro-text button span.letter {
        line-height: 2;
    }

    p.get-started {
        padding: 0;
        width: 260px;
        text-align: center;
    }


    #sticky-scroll {
        article.photo-drawings-group {
            display: block;
        }
        
        div.photo-container {
            width: 100%;
            margin: 20px;
            position: unset;    
        }
    }
}
